body {
    font-family: 'Yeseva One', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f9f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f4f9f4;
    color: rgb(112, 70, 32);
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #388e3c;
}

header img {
    max-width: 250px;
    margin-bottom: 10px;
}

.container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 20px;
    text-align: center;
    position: relative;
    border: 2px solid #4caf50;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 80%;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 4px solid #4caf50;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #388e3c;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

h3 {
    font-size: 1.2rem;
    margin: 15px 0;
    color: #4caf50;
}

a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
}

a:hover {
    background-color: #388e3c;
    transform: translateY(-3px);
    color: #46ff4c;
}

a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    transition: transform 0.3s;
    transform: translateY(-100%);
}

a:hover::before {
    transform: translateY(0);
}

h4 {
    margin: 10px 0;
}

.nothing{
    font-size: 10px; 
    display: inline-block;
    background-color: #388e3c;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
}